<ion-view title="About" hide-nav-bar="true" id="page6" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/aM22aiKnT3CWKIWMWgCP_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div style="color:#FFFFFF;">
            <h3 align= "center" style="color:#FFFFFF;">MORE THAN "JUST ANOTHER CAR WASH"</h3>
            <h5 align= "center" style="color:#FFFFFF;">Thinking Globally, Acting Locally</h5>
        </div>
        <table width= "100%" style="color:#FFFFFF;">
            <tbody>
                <tr>
                    <th width="49%" style="BORDER: #FFFFFF 1px solid; padding: 5px;">
                        <h5 align="center" style="color:#FFFFFF;">Conserving Water</h5>
                        <p style="text-align: justify; text-justify: inter-word;">Our SteamO cleaning system reduces water consumption by 95%, we clean a car using as little as one gallon of water. Compared to traditional pressure washer operators who carry over 250 gallons of water and a recovery tank, our team members need no more than 20 gallons of water for all day use!</p>
                    </th>
                    <th width="2%"></th>
                    <th width="49%" style="BORDER: #FFFFFF 1px solid; padding: 5px; border-radius: 8px;">
                        <h5 align="center" style="color:#FFFFFF;">Reducing Chemicals</h5>
                        <p style="text-align: justify; text-justify: inter-word;">Our SteamO system allows us to drastically reduce our chemical consumption. In fact, steam eliminates our need for window cleaning chemicals, soaps, detergent and other abrasive, harmful compounds. Heat from the steam breaks down dirt and grime easily and sanitizes any surface without chemicals.</p>
                    </th>
                </tr>
            </tbody>
        </table>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <table width= "100%" style="color:#FFFFFF;">
            <tbody>
                <tr>
                    <th width="49%" style="BORDER: #FFFFFF 1px solid; padding: 5px;">
                        <h5 align="center" style="color:#FFFFFF;">Zero Waste-Water</h5>
                        <p style="text-align: justify; text-justify: inter-word;">Untreated waste-water disposal to ground soil and storm drains impact the environment. Using our system, our team members wash and clean without producing any waste-water. Eliminating the possibility of damaging our local eco-system.</p>
                    </th>
                    <th width="2%"></th>
                    <th width="49%" style="BORDER: #FFFFFF 1px solid; padding: 5px; border-radius: 8px;">
                        <h5 align="center" style="color:#FFFFFF;">Water is Precious</h5>
                        <p style="text-align: justify; text-justify: inter-word;">Most of us have never really been thirsty. We’ve never had to leave our homes and walk five miles to fetch water. We simply turn on the tap, and water comes out clean. Yet there are 780 million people on the planet who don’t have clean water. Twice the number of people who live in the U.S. don’t have access to the most basic of human needs.</p>
                    </th>
                </tr>
            </tbody>
        </table>
    </ion-content>
</ion-view>
