<ion-view title="Booking" hide-nav-bar="true" id="page8" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/REr1de1zTC6V4cA0fRdQ_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div>
            <img src="img/TaZQXfztSYaupydWskaK_Photo Mar 16, 11 47 11 AM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;  border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div>
            <form class="list">
                <div class="styled-select">
                    <span>
                        <select ng-options="vehicle as vehicle.type for vehicle in vehiclepackages" ng-model="vehicletype"><option value="">Vehicle Type</option></select>
                    </span>
                    <span>
                        <select ng-options="wash as wash.wash for wash in vehicletype.wash" ng-model="wash"><option value="">Wash Package</option></select>
                    </span>
                </div>
            </form>
        </div>
        <div class="spacer" style="width: 100%; height: 14px;"></div>
        <div class="row">
            <div class="col col-50">Time: {{wash.time}}</div>
            <div class="col col-50">Price: ${{wash.price}}</div>
        </div>

            Features:
            <div ng-repeat="feature in wash.features">{{feature}}</div>
        
        <a ui-sref="tabsController.services" id="booking-button16" style="font-weight:600;color:#FFFFFF;" class="button button-positive button-large button-block button-clear">Submit</a>
    </ion-content>
</ion-view>
