<ion-view title="Contact" hide-nav-bar="true" id="page10" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/V7dbSAr5T6q6ZIkp07k0_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <form class="list">
            <label class="item item-input" name="Name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Full Name">
            </label>
            <label class="item item-input" name="Email">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="Email Address">
            </label>
            <label class="item item-input" name="Phone Number">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="Phone Number">
            </label>
            <label class="item item-input" name="Message">
                <span class="input-label">Message</span><textarea placeholder="Enter Message" rows="7"></textarea>
            </label>
        </form>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
    </ion-content>

        <div style="position: absolute; bottom: 60px; width: 100%">
            <div style="text-align: center">
              <button id="contact-button5" style="font-weight:600; color:#FFFFFF;" class="button button-clear button-positive">Submit</button>
            </div>
        </div>
</ion-view>
