<ion-view title="Contact" hide-nav-bar="true" id="page10" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <img src="img/V7dbSAr5T6q6ZIkp07k0_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input" name="Name">
                <span class="input-label">Name</span>
                <input type="text" placeholder="Full Name">
            </label>
            <label class="item item-input" name="Email">
                <span class="input-label">Email Address</span>
                <input type="text" placeholder="Email Address">
            </label>
            <label class="item item-input" name="Phone Number">
                <span class="input-label">Phone Number</span>
                <input type="text" placeholder="Phone Number">
            </label>
            <label class="item item-input" name="Message">
                <span class="input-label">Message</span><textarea placeholder="Message"> </textarea>
            </label>
            <button id="contact-button5" style="font-weight:600;color:#FFFFFF;" class="button button-balanced button-large button-block button-clear">Submit</button>
        </form>
        <div class="spacer" style="width: 300px; height: 49px;"></div>
        <div class="button-bar">
            <a href="tel:570-478-3260" id="contact-button6" style="color:#FFFFFF;" class="button button-light  button-clear icon ion-ios-telephone"></a>
            <a href="mailto:Yohannes.Buzuayene@GMail.com" id="contact-button29" style="color:#FFFFFF;" class="button button-balanced  button-clear icon ion-email"></a>
            <a href="#" onclick="window.open('https://twitter.com/GetSteamo', '_system', 'location=yes'); return false;" id="contact-button30" style="color:#FFFFFF;" class="button button-balanced  button-clear icon ion-social-twitter"></a>
            <a href="#" onclick="window.open('https://www.facebook.com/getsteamo/?ref=aymt_homepage_panel', '_system', 'location=yes'); return false;" id="contact-button10" style="color:#FFFFFF;" class="button button-balanced  button-clear icon ion-social-facebook"></a>
            <a href="#" onclick="window.open('https://www.instagram.com/getsteamo/', '_system', 'location=yes'); return false;" id="contact-button11" style="color:#FFFFFF;" class="button button-balanced  button-clear icon ion-social-instagram"></a>
            <a href="#" onclick="window.open('https://www.youtube.com/channel/UC77VCeUxxfVnA3DvkUQIj_w', '_system', 'location=yes'); return false;" id="contact-button12" style="color:#FFFFFF;text-align:left;" class="button button-balanced  button-clear icon ion-social-youtube"></a>
        </div>
    </ion-content>
</ion-view>
