<ion-view title="Gallery" hide-nav-bar="true" id="page7" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <a style="display:block;" ui-sref="tabsController.home">
                <img src="img/msd4aRJvRM6d2P8BvOX2_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
        <div>
            <div>
                <img src="img/vUdd2sKRTqRXBjivQKB8_Photo Apr 06, 1 55 21 PM (1).jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/DAnGA7etTMK5TFgDn4w4_Photo Apr 05, 7 20 04 PM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/w8SMoXQvRIWR0osTzfeY_Photo Apr 04, 5 50 19 PM (1).jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/E6PpUbZQAqpZ7S7hTn2U_Photo Mar 16, 12 05 49 PM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/qDm7v0CRTLChZDKzb1Br_Photo Mar 14, 2 44 59 PM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/cEmhQXMqTmeoHJ6Qixdg_Photo Mar 04, 11 02 50 AM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <div>
                <img src="img/dakpUbf1RI2F1xMRK255_Photo Mar 12, 9 24 33 PM.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto; border-radius: 8px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);">
            </div>
        </div>
        <div class="spacer" style="width: 300px; height: 17px;"></div>
    </ion-content>
</ion-view>
