<ion-view title="Home" hide-nav-bar="true" id="page13" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div>
            <a style="display:block;" ui-sref="tabsController.home">
                <img src="img/GApG6bVwRuS5n5wePgCR_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
        <div class="spacer" style="width: 300px; height: 14px;"></div>
        <div id="about-markdown1" style="color:#FFFFFF;">
            <p style="text-indent: 50px; text-align: justify;">
                Our steam Wash is an eco-friendly, hand car wash and detailing service based in Houston, TX. Our company was founded back in 2010 by a team of experts with more than 10 years of professional car wash experience. We operate car
                washes throughout the Houston area. Our goal is to provide the friendliest, most convenient hand car wash experience possible. We use the natural cleaning power of steam as a part of our car wash system. Our products are all biodegradable and eco-friendly.</p>
        </div>
        <a ui-sref="tabsController.booking" id="home-button39" style="font-weight:600;color:#FFFFFF;text-align:left;border-radius:500px 500px 500px 500px;" class="button button-light button-large button-block button-outline icon-left ion-calendar">Schedule</a>
        <button id="home-button40" style="font-weight:600;color:#FFFFFF;text-align:left;border-radius:500px 500px 500px 500px;" class="button button-light button-large button-block button-outline icon-left ion-ios-location">Our locations</button>
        <button id="home-button41" style="font-weight:600;color:#FFFFFF;text-align:left;border-radius:500px 500px 500px 500px;" class="button button-light button-large button-block button-outline icon-left ion-android-settings">Account</button>

        <a ui-sref="tabsController.services" id="home-button42" style="font-weight:600;color:#FFFFFF;text-align:left;border-radius:500px 500px 500px 500px;" class="button button-light button-large button-block button-outline icon-left ion-help-circled">Testimonials</a>

        <a ui-sref="tabsController.contact" id="home-button43" style="font-weight:600;color:#FFFFFF;text-align:left;border-radius:500px 500px 500px 500px;" class="button button-light button-large button-block button-outline icon-left ion-help-circled">Help</a>
    </ion-content>
</ion-view>
