<ion-view title="Load Page" hide-nav-bar="true" id="page5" style="background-color:#B4D44E;">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 203px;"></div>
        <div>
            <a style="display:block;" ui-sref="tabsController.login_tab1">
                <img src="img/GApG6bVwRuS5n5wePgCR_LoadSteamoFullLogo.png" width="75%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
            </a>
        </div>
    </ion-content>
</ion-view>